torch
torchvision
numpy
matplotlib
seaborn
Pillow
tqdm
scikit-learn
pycocotools
transformers
tensorboard
lvis
git+https://github.com/facebookresearch/segment-anything.git
opencv-python
open_clip_torch
umap-learn
einops
git+https://github.com/ChaoningZhang/MobileSAM.git
git+https://github.com/CASIA-IVA-Lab/FastSAM.git
git+https://github.com/yformer/EfficientSAM.git
accelerate
datasets
peft
bitsandbytes
torchpack
onnx
gradio
uvicorn
fastapi
pydantic
openxlab