torch
torchvision
numpy
matplotlib
seaborn
Pillow
tqdm
scikit-learn
pycocotools
transformers
tensorboard
lvis
git+https://github.com/facebookresearch/segment-anything.git
opencv-python
open_clip_torch
umap-learn
einops
git+https://github.com/ChaoningZhang/MobileSAM.git